.footer__column-link{
  display: flex;
  align-items: center;

  text-decoration: none;

  color: white;

  line-height: 18px;
  font-size: 18px;
  font-weight: var(--font-weight-normal);
}

.footer__column-link:last-of-type{
  margin-bottom: 0;
}
