

.footer__columns{
  min-height: 350px;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;


  width: 90%;
  margin: 0 auto;
}
