@import url(./-heading/footer_columns-heading.css);
@import url(./-links/footer_columns-links.css);
@import url(./_content_copyright/footer_columns_content_copyright.css);
@import url(./_content_info/footer_columns_content_info.css);
@import url(./_content_social/footer_columns_content_social.css);
@import url(./-social-icon/footer__columns-social-icon.css);


.footer__columns{
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-basis: 711px;
    margin-bottom: 16px;

    margin-right: auto;
    margin-left: auto;
    width: 90%;
    min-height: 150px;
}