@import url(./__brief/two_columns__brief.css);
@import url(./__main_text/two__columns__main_text.css);
@import url(./__main_text_paragrapch/two_columns__main_text_paragraph.css);

.two_columns{
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
}
