.two_columns__main_text_paragraph{
    margin: 0;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
}

.two_columns__main_text_paragraph_cursiv{
    font-weight: bold;
    line-height: 34px;
    font-size: 24px;
}
