@import url(./__item/cards__item.css);
@import url(./__item_description/cards__item_description.css);
@import url(./__item_image/cards__item_image.css);
@import url(./__item_title/cards__item_title.css);

.cards{
    display: flex;
    margin: 0 auto;

    width: 920px;
    flex-wrap: wrap;
}
